In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [6]:
data = pd.read_csv('movie_bd_v5.csv')
#В исходные данные добавлен столбец "profit" для дальнейших обращений
data['profit'] = 0
data['profit'] = data.apply(lambda row: data.revenue - data.budget)
#Столбец "release_date" приведен к формату даты
data.release_date=pd.to_datetime(data.release_date)
data.head(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,7.3,2015,1316249360

data.describe()

# Предобработка

In [7]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [8]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [9]:
# тут пишем ваш код для решения данного вопроса:
max_budget = data[data.budget == data.budget.max()]
answers['1']='{} ({})'.format(max_budget.iloc[0][3], max_budget.iloc[0][0])

ВАРИАНТ 2

In [10]:
# можно добавлять разные варианты решения
max_budget = data.query('budget==budget.max()')
answers['1'] = '{} ({})'.format(max_budget.iloc[0][3], max_budget.iloc[0][0])

# 2. Какой из фильмов самый длительный (в минутах)?

In [11]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
longest = data[data.runtime == data.runtime.max()]
answers['2'] = '{} ({})'.format(longest.iloc[0][3], longest.iloc[0][0])

In [193]:
longest = data.query('runtime==runtime.max()')
answers['2'] = '{} ({})'.format(longest.iloc[0][3], longest.iloc[0][0])

# 3. Какой из фильмов самый короткий (в минутах)?

In [13]:
shortest = data[data.runtime == data.runtime.min()]
answers['3'] = '{} ({})'.format(shortest.iloc[0][3], shortest.iloc[0][0])

# 4. Какова средняя длительность фильмов?

In [14]:
answers['4'] = data.runtime.mean()

# 5. Каково медианное значение длительности фильмов?

In [15]:
answers['5'] = data.runtime.median()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
# лучше код получения столбца profit вынести в Предобработку что в начале
max_profit = data[data.profit == data.profit.max()]
answers['6'] = '{} ({})'.format(max_profit.iloc[0][3], max_profit.iloc[0][0])

# 7. Какой фильм самый убыточный?

In [17]:
max_loss = data[data.profit == data.profit.min()]
answers['7'] = '{} ({})'.format(max_loss.iloc[0][3], max_loss.iloc[0][0])

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [18]:
answers['8'] = data[data.profit > 0].imdb_id.count()

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [19]:
revenue_2008_max = data[data.revenue == data[('2007-12-31' < data.release_date) & (data.release_date <= '2008-12-31')].revenue.max()]
answers['9'] = '{} ({})'.format(revenue_2008_max.iloc[0][3], revenue_2008_max.iloc[0][0])

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [20]:
max_loss_12_14 = data[data.profit == data[('2011-12-31' < data.release_date) & (data.release_date <= '2014-12-31')].profit.min()]
answers['10'] = '{} ({})'.format(max_loss_12_14.iloc[0][3], max_loss_12_14.iloc[0][0])

# 11. Какого жанра фильмов больше всего?

In [21]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
#Создание списков: упоминания жантров и уникальных значений жантров
genres_mentions = data.genres.str.split('|').sum()
genres = set(genres_mentions)
#Футнция для вычисления часты упоминаний уникальных значений жантров
def frequency(genre):
    counter = 0
    for mention in genres_mentions:
        if mention == genre:
            counter += 1
        else:
            continue
    return counter
#Создание словаря, содержащего жанры и частоту их упоминаний
geners_frequency = {}
for genre in genres:
    geners_frequency.setdefault(genre, frequency(genre))
#Нахождение наиболее частоупоминаемого жантра
max_frequency = max(geners_frequency.values())
for genre, frequency in geners_frequency.items():
    if frequency == max_frequency:
        answers['11'] = genre

ВАРИАНТ 2

In [22]:
genres = pd.Series(data.genres.str.split('|').sum())
#Необязательный перевод в DataFrame для удобного отображения промежуточных результатов
geners_stats = pd.DataFrame(genres.value_counts())
answers['11'] = geners_stats.index[0]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [191]:
profitable_genres = pd.Series(data[data.profit > 0].genres.str.split('|').sum())
profitable_genres_stats = pd.DataFrame(profitable_genres.value_counts())
answers['12'] = profitable_genres_stats.index[0]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [26]:
#Создание списка режиссеров для удобного обращения
directors = set(data.director.str.split('|').sum())
directors = list(directors)
#Создание DataFrame
total_revenue = pd.DataFrame(columns = ['directors','revenues'], index = range(len(directors)))
for i in range(0, len(directors)):
    total_revenue.loc[i].directors = directors[i]
    total_revenue.loc[i].revenues = data[data.director.str.contains(directors[i])].revenue.sum()
total_revenue = total_revenue.sort_values(['revenues'], ascending=False)
answers['13'] = total_revenue.iloc[0][0]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [27]:
action_movies = data[data.genres.str.contains('Action')]
directors = pd.Series(action_movies.director.str.split('|').sum())
directors_stats = pd.DataFrame(directors.value_counts())
answers['14'] = directors_stats.index[0]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [28]:
data_2012 = data[('2011-12-31' < data.release_date) & (data.release_date <= '2012-12-31')]
actors = set(data_2012.cast.str.split('|').sum())
actors = list(actors)

total_revenue = pd.DataFrame(columns = ['actors','revenues'], index = range(len(actors)))
for i in range(0, len(actors)):
    total_revenue.loc[i].actors = actors[i]
    total_revenue.loc[i].revenues = data_2012[data_2012.cast.str.contains(actors[i])].revenue.sum()
total_revenue = total_revenue.sort_values(['revenues'], ascending=False)
answers['15'] = total_revenue.iloc[0][0]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [29]:
high_budget_films = data[data.budget > data.budget.mean()]
actors = pd.Series(high_budget_films.cast.str.split('|').sum())
actors_stats = pd.DataFrame(actors.value_counts())
answers['16'] = actors_stats.index[0]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [30]:
cage_movies = data[data.cast.str.contains("Nicolas Cage")]
genres = pd.Series(cage_movies.genres.str.split('|').sum())
genres_stats = pd.DataFrame(genres.value_counts())
answers['17'] = genres_stats.index[0]

# 18. Самый убыточный фильм от Paramount Pictures

In [31]:
PP_movies = data[data.production_companies.str.contains("Paramount Pictures")]
PP_max_loss= data[data.profit == PP_movies.profit.min()]
answers['18'] = '{} ({})'.format(PP_max_loss.iloc[0][3], PP_max_loss.iloc[0][0])

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [32]:
#Создание нового DataFrame аналогичного data, чтобы избежать захламления изходных данных
yearly_data = data
yearly_data['year'] = yearly_data.release_date.apply(lambda x: x.year)
yearly_revenue = yearly_data.groupby(by = ['year']).revenue.sum().sort_values(ascending=False)
answers['19'] = yearly_revenue.keys()[0]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [33]:
WB_yearly = yearly_data[yearly_data.production_companies.str.contains("Warner Bros")]
WB_yearly_profits = WB_yearly.groupby(by = ['year']).profit.sum().sort_values(ascending=False)
answers['20'] = WB_yearly_profits.keys()[0]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [34]:
monthly_data = data
monthly_data['month'] = monthly_data.release_date.apply(lambda x: x.month)
films_per_month = monthly_data.groupby(by = ['month']).original_title.count().sort_values(ascending=False)
answers['21'] = films_per_month.keys()[0]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [35]:
summer_films = monthly_data.query('month in [6, 7, 8]')
answers['22'] = summer_films.original_title.count()

# 23. Для какого режиссера зима – самое продуктивное время года?

In [36]:
winter_films = monthly_data.query('month in [12, 1, 2]')
directors = pd.Series(winter_films.director.str.split('|').sum())
directors_stats = pd.DataFrame(directors.value_counts())
answers['23'] = directors_stats.index[0]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [37]:
titles_data = data
titles_data['title_length'] = titles_data.original_title.apply(lambda x: len(x))
#Обработка данных, чтобы обеспечить корректность обращений далее
titles_data['production_companies'] = titles_data.production_companies.apply(lambda x: x.replace('(','.'))
titles_data['production_companies'] = titles_data.production_companies.apply(lambda x: x.replace(')','.'))
titles_data['production_companies'] = titles_data.production_companies.apply(lambda x: x.replace('+','.'))

studios = set(titles_data.production_companies.str.split('|').sum())
studios = list(studios)

avg_title_length = pd.DataFrame(columns = ['studios','avg_length'], index = range(len(studios)))
for i in range(0, len(studios)):
    avg_title_length.loc[i].studios = studios[i]
    avg_title_length.loc[i].avg_length = titles_data[titles_data.production_companies.str.contains("{}".format(studios[i]))].title_length.mean()
avg_title_length = avg_title_length.sort_values(['avg_length'], ascending=False)
answers['24'] = avg_title_length.iloc[0][0]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [38]:
overview_data = data
overview_data['overview_length'] = overview_data.overview.apply(lambda x: len(x.split(' ')))
overview_data['production_companies'] = titles_data.production_companies.apply(lambda x: x.replace('(','.'))
overview_data['production_companies'] = titles_data.production_companies.apply(lambda x: x.replace(')','.'))
overview_data['production_companies'] = titles_data.production_companies.apply(lambda x: x.replace('+','.'))

studios = set(overview_data.production_companies.str.split('|').sum())
studios = list(studios)

avg_overview_length = pd.DataFrame(columns = ['studios','avg_length'], index = range(len(studios)))
for i in range(0, len(studios)):
    avg_overview_length.loc[i].studios = studios[i]
    avg_overview_length.loc[i].avg_length = overview_data[overview_data.production_companies.str.contains(studios[i])].overview_length.mean()
avg_overview_length = avg_overview_length.sort_values(['avg_length'], ascending=False)
answers['25'] = avg_overview_length.iloc[0][0]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [39]:
vote_data = data.sort_values(['vote_average'], ascending = False)
vote_data = vote_data[vote_data['vote_average'] > vote_data.iloc[int(vote_data.original_title.count()/100) + 1].vote_average]
#Так как в 1% лучших фильмов в ходит более трех фильмов, правильный ответ должен быть выбран из предложенных вариантов
answers_list = ['Inside Out, The Dark Knight, 12 Years a Slave',
          'BloodRayne, The Adventures of Rocky & Bullwinkle',
          'Batman Begins, The Lord of the Rings: The Return of the King, Upside Down',
          '300, Lucky Number Slevin, Kill Bill: Vol. 1',
            'Upside Down, Inside Out, Iron Man']
#Функция, проверяющая наличие фильмов, предложенных в ответе, на наличие в списке 1% лучших фильмов
def check(x):
    result = str
    for title in x.split(', '):
        if title in list(vote_data.original_title):
            result = True
        else:
            result = False
            break
    return result
#Создание DataFrame с ответами и результатами проверки
potential_answers=pd.DataFrame(columns = ['answers','result'], index = range(len(answers_list)))
for i in range(len(answers_list)):
    potential_answers.loc[i].answers = answers_list[i]
    potential_answers.loc[i].result = check(answers_list[i])
right_answer = potential_answers.query('result == True')
answers['26'] = right_answer.iloc[0][0]

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [183]:
#Функция, создающая список ункальных пар актров в фильме
def pairs(line):
    row=line.split('|')
    row.sort()
    pair_list=[]
    for i in range(len(row)):
        for j in range(i,len(row)):
            if i != j: #Необязательная проверка на случай задвоения актера
                tested_pair='{} & {}'.format(row[i],row[j])
                pair_list.append(tested_pair)
    return pair_list

data_pairs = data
data_pairs['pairs'] = data.cast.apply(pairs)

pairs = pd.Series(data_pairs.pairs.sum())
pairs_stats = pd.DataFrame(pairs.value_counts(),columns=['frequency'])
pairs_stats=pairs_stats[pairs_stats.frequency == pairs_stats.frequency.max()]
#Так искомых пар несколько, правильный ответ выбирается аналагично предидущему заданию.
answers_list = ['Johnny Depp & Helena Bonham Carter',
                'Ben Stiller & Owen Wilson',
                'Vin Diesel & Paul Walker',
                'Adam Sandler & Kevin James',
                'Daniel Radcliffe & Rupert Grint']

def check(x):
    result = str
    for title in x.split(', '):
        if title in list(pairs_stats.index):
            result = True
        else:
            result = False
            break
    return result

potential_answers=pd.DataFrame(columns = ['answers','result'], index = range(len(answers_list)))
for i in range(len(answers_list)):
    potential_answers.loc[i].answers = answers_list[i]
    potential_answers.loc[i].result = check(answers_list[i])
right_answer = potential_answers.query('result == True')
answers['27'] = right_answer.iloc[0][0]

# Submission

In [192]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [185]:
# и убедиться что ни чего не пропустил)
len(answers)

27